@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

html,
body {
  background: #eeeeee;
  font-size: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: separate;
  border-spacing: 0px 1rem;
  text-transform: capitalize;
}

table tr td:first-child {
  color: #6a6a6a;
}

.container {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.container img {
  width: 100%;
  height: auto;
}

.row {
  width: 100%;
  overflow: hidden;
}

.row h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
  color: #2d2fae;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.row div.list {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.list {
  background-color: #ffffff;
  padding: 1rem;
  overflow-y: auto;
  height: 100vh;
}

.list .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 1rem;
}

.list .grid .item,
.list .grid .item * {
  cursor: pointer;
}

.list .grid .item {
  border-radius: 15px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.list .grid .item img {
  width: 80%;
  height: inherit;
}

.list .grid .item .about {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.list .grid .item .about h4 {
  background-color: #ffffff95;
  text-transform: capitalize;
}

.list .grid .item .about .extra {
  display: flex;
  justify-content: space-around;
}

.list .grid .item .about .extra span {
  padding: 0.25rem 1.25rem;
  font-size: 0.75rem;
  font-weight: 800;
  border-radius: 15px;
  background-color: #ffffff95;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.pokemon {
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.pokemon .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
}

.pokemon .navbar * {
  display: flex;
  align-items: center;
  margin: 0;
  color: #ffffff;
}

.pokemon .navbar .back,
.pokemon .navbar .favorite {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
}

.pokemon .navbar .back:hover,
.pokemon .navbar .back:focus,
.pokemon .navbar .back:active {
  padding: 1rem;
  border-radius: 50%;
  background-color: #ffffff;
}

.pokemon .navbar .favorite:hover,
.pokemon .navbar .favorite:focus,
.pokemon .navbar .favorite:active {
  font-weight: 900;
}

.pokemon .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem 0.5rem;
}

.pokemon .content img {
  width: 50%;
  height: auto;
  position: relative;
  z-index: 999;
}

.pokemon .about *,
.pokemon .about *:before,
.pokemon .about *:after {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.pokemon .about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  font-weight: 900;
  text-transform: capitalize;
}

.pokemon .about .types {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.pokemon .about .types .type {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff40;
  padding: 0.2rem 1.5rem;
  border-radius: 15px;
  margin-right: 0.3rem;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.pokemon .about span {
  font-size: 1.25rem;
}

.pokemon .content .info {
  background-color: #ffffff;
  width: 100%;
  padding: 3rem 1rem;
  border-radius: 1rem;
  margin-top: -2rem;
}

.pokemon .content .info .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 2rem;
  margin-bottom: 1rem;
}

.pokemon .content .info .nav-items a {
  color: #a7a7a7;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.pokemon .content .info .nav-items a.active {
  color: #000000;
  border-bottom: 2px solid #2d2fae;
}

.pokemon .content .info .tab {
  min-height: 400px;
  display: none;
}

.pokemon .content .info .tab.active {
  display: block;
}

.row .mask {
  position: absolute;
  background-color: #00000075;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.row.active .mask {
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.row.active .pokemon {
  animation: linear 0.5s slideIn;
  animation-fill-mode: forwards;
}

.row.not-active .pokemon {
  animation: linear 0.75s slideOut;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 768px) {
  .row.active .pokemon {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  50% {
    opacity: 0.5;
    visibility: visible;
    transform: translateX(100%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(150%);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(150%);
  }
  50% {
    opacity: 0.5;
    visibility: visible;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

/* Grass Type */
.item.grass {
  background-color: #78c850;
  color: #78c850;
  border: 1px solid #78c850;
}

.pokemon:has(.content.grass) {
  background-color: #78c850;
}

.pokemon:has(.content.grass) .navbar .back:hover,
.pokemon:has(.content.grass) .navbar .back:focus,
.pokemon:has(.content.grass) .navbar .back:active {
  color: #78c850;
}

/* Fire Type */
.item.fire {
  background-color: #f08030;
  color: #f08030;
  border: 1px solid #f08030;
}

.pokemon:has(.content.fire) {
  background-color: #f08030;
}

.pokemon:has(.content.fire) .navbar .back:hover,
.pokemon:has(.content.fire) .navbar .back:focus,
.pokemon:has(.content.fire) .navbar .back:active {
  color: #f08030;
}

/* Water Type */
.item.water {
  background-color: #6890f0;
  color: #6890f0;
  border: 1px solid #6890f0;
}

.pokemon:has(.content.water) {
  background-color: #6890f0;
}

.pokemon:has(.content.water) .navbar .back:hover,
.pokemon:has(.content.water) .navbar .back:focus,
.pokemon:has(.content.water) .navbar .back:active {
  color: #6890f0;
}

/* Electric Type */
.item.electric {
  background-color: #f8d030;
  color: #f8d030;
  border: 1px solid #f8d030;
}

.pokemon:has(.content.electric) {
  background-color: #f8d030;
}

.pokemon:has(.content.electric) .navbar .back:hover,
.pokemon:has(.content.electric) .navbar .back:focus,
.pokemon:has(.content.electric) .navbar .back:active {
  color: #f8d030;
}

/* Normal Type */
.item.normal {
  background-color: #a8a878;
  color: #a8a878;
  border: 1px solid #a8a878;
}

.pokemon:has(.content.normal) {
  background-color: #a8a878;
}

.pokemon:has(.content.normal) .navbar .back:hover,
.pokemon:has(.content.normal) .navbar .back:focus,
.pokemon:has(.content.normal) .navbar .back:active {
  color: #a8a878;
}

/* Fairy Type */
.item.fairy {
  background-color: #ee99ac;
  color: #ee99ac;
  border: 1px solid #ee99ac;
}

.pokemon:has(.content.fairy) {
  background-color: #ee99ac;
}

.pokemon:has(.content.fairy) .navbar .back:hover,
.pokemon:has(.content.fairy) .navbar .back:focus,
.pokemon:has(.content.fairy) .navbar .back:active {
  color: #ee99ac;
}

/* Fighting Type */
.item.fighting {
  background-color: #c03028;
  color: #c03028;
  border: 1px solid #c03028;
}

.pokemon:has(.content.fighting) {
  background-color: #c03028;
}

.pokemon:has(.content.fighting) .navbar .back:hover,
.pokemon:has(.content.fighting) .navbar .back:focus,
.pokemon:has(.content.fighting) .navbar .back:active {
  color: #c03028;
}

/* Poison Type */
.item.poison {
  background-color: #a040a0;
  color: #a040a0;
  border: 1px solid #a040a0;
}

.pokemon:has(.content.poison) {
  background-color: #a040a0;
}

.pokemon:has(.content.poison) .navbar .back:hover,
.pokemon:has(.content.poison) .navbar .back:focus,
.pokemon:has(.content.poison) .navbar .back:active {
  color: #a040a0;
}

/* Ground Type */
.item.ground {
  background-color: #e0c068;
  color: #e0c068;
  border: 1px solid #e0c068;
}

.pokemon:has(.content.ground) {
  background-color: #e0c068;
}

.pokemon:has(.content.ground) .navbar .back:hover,
.pokemon:has(.content.ground) .navbar .back:focus,
.pokemon:has(.content.ground) .navbar .back:active {
  color: #e0c068;
}

/* Flying Type */
.item.flying {
  background-color: #a890f0;
  color: #a890f0;
  border: 1px solid #a890f0;
}

.pokemon:has(.content.flying) {
  background-color: #a890f0;
}

.pokemon:has(.content.flying) .navbar .back:hover,
.pokemon:has(.content.flying) .navbar .back:focus,
.pokemon:has(.content.flying) .navbar .back:active {
  color: #a890f0;
}

/* Psychic Type */
.item.psychic {
  background-color: #f85888;
  color: #f85888;
  border: 1px solid #f85888;
}

.pokemon:has(.content.psychic) {
  background-color: #f85888;
}

.pokemon:has(.content.psychic) .navbar .back:hover,
.pokemon:has(.content.psychic) .navbar .back:focus,
.pokemon:has(.content.psychic) .navbar .back:active {
  color: #f85888;
}

/* Bug Type */
.item.bug {
  background-color: #a8b820;
  color: #a8b820;
  border: 1px solid #a8b820;
}

.pokemon:has(.content.bug) {
  background-color: #a8b820;
}

.pokemon:has(.content.bug) .navbar .back:hover,
.pokemon:has(.content.bug) .navbar .back:focus,
.pokemon:has(.content.bug) .navbar .back:active {
  color: #a8b820;
}

/* Rock Type */
.item.rock {
  background-color: #b8a038;
  color: #b8a038;
  border: 1px solid #b8a038;
}

.pokemon:has(.content.rock) {
  background-color: #b8a038;
}

.pokemon:has(.content.rock) .navbar .back:hover,
.pokemon:has(.content.rock) .navbar .back:focus,
.pokemon:has(.content.rock) .navbar .back:active {
  color: #b8a038;
}

/* Ghost Type */
.item.ghost {
  background-color: #705898;
  color: #705898;
  border: 1px solid #705898;
}

.pokemon:has(.content.ghost) {
  background-color: #705898;
}

.pokemon:has(.content.ghost) .navbar .back:hover,
.pokemon:has(.content.ghost) .navbar .back:focus,
.pokemon:has(.content.ghost) .navbar .back:active {
  color: #705898;
}

/* Dragon Type */
.item.dragon {
  background-color: #7038f8;
  color: #7038f8;
  border: 1px solid #7038f8;
}

.pokemon:has(.content.dragon) {
  background-color: #7038f8;
}

.pokemon:has(.content.dragon) .navbar .back:hover,
.pokemon:has(.content.dragon) .navbar .back:focus,
.pokemon:has(.content.dragon) .navbar .back:active {
  color: #7038f8;
}

/* Steel Type */
.item.steel {
  background-color: #b8b8d0;
  color: #b8b8d0;
  border: 1px solid #b8b8d0;
}

.pokemon:has(.content.steel) {
  background-color: #b8b8d0;
}

.pokemon:has(.content.steel) .navbar .back:hover,
.pokemon:has(.content.steel) .navbar .back:focus,
.pokemon:has(.content.steel) .navbar .back:active {
  color: #b8b8d0;
}

/* Ice Type */
.item.ice {
  background-color: #98d8d8;
  color: #98d8d8;
  border: 1px solid #98d8d8;
}

.pokemon:has(.content.ice) {
  background-color: #98d8d8;
}

.pokemon:has(.content.ice) .navbar .back:hover,
.pokemon:has(.content.ice) .navbar .back:focus,
.pokemon:has(.content.ice) .navbar .back:active {
  color: #98d8d8;
}
